@use "src/vars.scss" as *;

.cell {
  width: $cell-size;
  height: $cell-size;

  &.black {
    background-color: #a5aaac;
    &.selected {
      background-color: $cyan2;
    }
  }

  &.white {
    background-color: $white;
    &.selected {
      background-color: $cyan2;
    }
  }
}
