@use "src/vars.scss" as *;

.cell {
  width: $cell-size;
  height: $cell-size;

  &.black {
    background-color: #a5aaac;
    &.selected {
      background-color: $cyan2;
    }
    &.move {
      background-color: #7baa84;
    }
    &.attack {
      background-color: #b4ad44;
    }
  }

  &.white {
    background-color: $white;
    &.selected {
      background-color: $cyan2;
    }
    &.move {
      background-color: #85bd90;
    }
    &.attack {
      background-color: #b4ad44;
    }
  }
}
